// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.loader {
  position: fixed;
  font-size: 46px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
