<template>
  <div>
    <div class="loader" v-if="loading">Loading...</div>
    <router-view :hidden="loading"></router-view>
  </div>
</template>

<script>
  import eventHub from '../eventhub'
  export default {
    data () {
      return {
        loading: false
      }
    },
    methods: {
      showLoading() {
        this.loading = true
      },
      hideLoading() {
        this.loading = false
      }
    },
    created() {
      eventHub.$on('request-start', this.showLoading)
      eventHub.$on('request-error',  this.hideLoading)
      eventHub.$on('response-success', this.hideLoading)
      eventHub.$on('response-error', this.hideLoading)
    },
  }
</script>
