<template>
  <div class="card" v-if="!error">
    <div class="card-header"><h1>People list</h1></div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Height</th>
          <th>Mass</th>
          <th>Hair color</th>
          <th>Skin color</th>
          <th>Eye color</th>
          <th>Birth year</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="person in data.results">
          <td>{{ person.name }}</td>
          <td>{{ person.height }}</td>
          <td>{{ person.mass }}</td>
          <td>{{ person.hair_color }}</td>
          <td>{{ person.skin_color }}</td>
          <td>{{ person.eye_color }}</td>
          <td>{{ person.birth_year }}</td>
          <td>{{ person.gender }}</td>
          <td>
            <router-link :to="{name: 'view', params: {id: person.id}}" class="btn btn-primary">View</router-link>
          </td>
        </tr>
        </tbody>
      </table>

      <nav>
        <ul class="pagination">
          <li class="page-item" :class="{'disabled': data.previous === null}">
            <a class="page-link" href="#" aria-label="Previous" v-on:click.prevent="updateData(data.previous)">
              <span aria-hidden="true">&laquo;</span> Previous
            </a>
          </li>
          <li class="page-item ml-2" :class="{'disabled': data.next === null}">
            <a class="page-link" href="#" aria-label="Next" v-on:click.prevent="updateData(data.next)">
              <span aria-hidden="true">&raquo;</span> Next
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="card" v-else>
    <div class="card-body">
      <p class="text-center">Error! Can't fetch people list.</p>
    </div>
  </div>
</template>

<script>
  import axios from '../http'
  export default {
    data: function () {
      return {
        data: [],
        error: false
      }
    },
    mounted() {
      this.updateData()
    },
    methods: {
      updateData (page) {
        let url = '/people'
        if (page) {
          url += '?page=' + page
        }

        axios.get(url).then((response) => {
          this.data = response.data
        }).catch((e) => {
          this.error = true
          console.log(e)
        })
      }
    }
  }
</script>
