<template>
  <div class="card" v-if="!error">
    <div class="card-header"><h1>{{ data.name }}</h1></div>
    <div class="card-body">
      <router-link :to="{name: 'index'}" class="btn btn-primary mb-3">Back</router-link>
      <div class="row">
        <div class="col-2">Name:</div>
        <div class="col-10">{{ data.name }}</div>
      </div>
      <div class="row">
        <div class="col-2">Height:</div>
        <div class="col-10">{{ data.height }}</div>
      </div>
      <div class="row">
        <div class="col-2">Mass:</div>
        <div class="col-10">{{ data.mass }}</div>
      </div>
      <div class="row">
        <div class="col-2">Hair color:</div>
        <div class="col-10">{{ data.hair_color }}</div>
      </div>
      <div class="row">
        <div class="col-2">Skin color:</div>
        <div class="col-10">{{ data.skin_color }}</div>
      </div>
      <div class="row">
        <div class="col-2">Eye color:</div>
        <div class="col-10">{{ data.eye_color }}</div>
      </div>
      <div class="row">
        <div class="col-2">Birth year:</div>
        <div class="col-10">{{ data.birth_year }}</div>
      </div>
      <div class="row">
        <div class="col-2">Gender:</div>
        <div class="col-10">{{ data.gender }}</div>
      </div>
      <div class="row">
        <div class="col-2">Gender:</div>
        <div class="col-10">{{ data.gender }}</div>
      </div>
      <div class="row">
        <div class="col-2">Created time:</div>
        <div class="col-10">{{ data.created }}</div>
      </div>
      <div class="row">
        <div class="col-2">Updated time:</div>
        <div class="col-10">{{ data.edited }}</div>
      </div>
    </div>
  </div>
  <div class="card" v-else>
    <div class="card-body">
      <p class="text-center">Error! Can't fetch a person.</p>
    </div>
  </div>
</template>

<script>
  import http from '../http'
  export default {
    data: function () {
      return {
        data: [],
        error: false
      }
    },
    mounted() {
      const url = '/people/' + this.$route.params.id
      http.get(url).then((response) => {
        this.data = response.data
      }).catch((e) => {
        this.error = true
        console.log(e)
      })
    },
  }
</script>
